ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: #fff;
    --color: #333;
    h1 { 
        margin-top: 16px;
        font-size: 24px;
        text-align: center;
        color: #00796B;
        font-weight: 600;
    }
}
label {
    width: 100%;
    display: flex !important;
    align-items: center;
    .number {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #00796B;
        color: #F5FFFE;
        text-align: center;
    }
    span {
        padding-left: 8px;
    }
}

label p {
    margin: 0;
}

label p:before {
    content: "Q",
}

.tab-group {
    margin: 3em auto;
    max-width: 503mm;
    width: 100%;
}

.tab {
    position: relative;
    width: 100%;
}


.tab input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.tab label {
    background-color: rgba(240, 250, 249, 0.87);
    color: #333;
    display: block;
    font-weight: bolder;
    line-height: 3;
    padding-left: .5em;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 121, 107, .12);
}

.tab input:focus + label, 
.tab label:hover {
    background-color: rgba(240, 250, 249, 1);
    color: #003832;
    transition: .3s;
}

.tab input:checked + label {
    background-color: rgb(228, 241, 240);
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.tab-content p {
    margin: 0;
    padding: 8px 16px;
    text-align: justify;
}

.tab input:checked ~ .tab-content {
    max-height: 20em;
    background-color: #F7FBFB;
    color: #00110F;
}