<at-accordion-list [title]="'Hỏi Đáp'">
    <!-- <div class="tab">
        <input type="checkbox" id="tab-1"/>
        <label for="tab-1">
          <div class="number">1</div>
          <span>Tại sao chọn UKBApp?</span>
        </label>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi cupiditate illo esse amet nemo optio
            obcaecati, repellat consectetur provident ipsam minus, architecto neque sint explicabo quibusdam officia error
            laudantium corporis.</p>
        </div>
      </div> -->
</at-accordion-list>