<ion-header>
    <ion-toolbar color="appbar">
      <ion-buttons slot="start" [routerLink]="['/student/dashboard']">
        <ion-back-button icon="chevron-back-outline" defaultHref></ion-back-button>
      </ion-buttons>
      <ion-title>Thống kê</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <div class="item" *ngFor="let statis of infoStatistical">
      <div class="info">
        Môn: <span>{{ statis?.subject_name }}</span>
      </div>
      <div class="info">
        Giảng viên: <span>{{ statis?.teacher_name }}</span>
      </div>
      <div class="info">
        Số buổi nghỉ: <span>{{ !statis?.leave_session ? 0 : statis?.leave_session }}</span>
      </div>
      <div class="info">
        Buổi thứ: <span>{{ !statis?.learn_session ? 0 : statis?.learn_session }}</span>
      </div>
      <div class="info">
        Tổng số buổi học: <span>{{ statis?.subject_credit == 2 ? 8 : 12 }}</span>
      </div>
    </div>
  
  </ion-content>