<ion-content>
    <div id="container">
        <section class="info">
            <button class="back" [routerLink]="['/teacher/dashboard']">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <div class="info-main">
                Thông tin cá nhân
                <div class="upload-avatar">
                    <ion-avatar>
                        <img [src]="'assets/images/avatar.jpg'" />
                    </ion-avatar>
                    <div class="file" (click)="onPickFile()">
                        <ion-icon name="camera-reverse-outline"></ion-icon>
                    </div>
                    <input id="input-file" #inputfile type="file" accept="image/*" (change)="selectFile($event)">
                </div>
            </div>
            <button
                class="save"
                [disabled]="!isEnableUpdate"
                (click)="onUpdateProfile(address.value, phone.value, email.value, birthday)">
                <ion-icon [name]="isEnableUpdate ? 'save-outline' : 'save'"></ion-icon>
            </button>
        </section>

        <section class="main">
            <div class="item">
                <label>Mã giảng viên</label>
                <input type="text" disabled [placeholder]="teacher?.teacher_id" />
            </div>
            <div class="item">
                <label>Họ tên</label>
                <input type="text" disabled [placeholder]="teacher?.teacher_name" />
            </div>
            <div class="item">
                <label>Giới tính</label>
                <input type="text" disabled [placeholder]="+teacher?.teacher_gender === 1 ? 'Nam' : 'Nữ'" />
            </div>
            <div class="item">
                <label>Ngày sinh</label>
                <ion-datetime
                    slot="start"
                    #birthday
                    display-format="DD/MM/YYYY"
                    [value]="teacher?.teacher_birthday | date:'YYYY-MM-dd' "
                    [placeholder]="teacher?.teacher_birthday | date:'dd/MM/YYYY' ">
                </ion-datetime>
            </div>
            <div class="item">
                <label>Số điện thoại</label>
                <input type="number" #phone [value]="teacher?.teacher_numphone" />
            </div>
            <div class="item">
                <label>Email</label>
                <input type="email" #email [value]="teacher?.teacher_email" />
            </div>
            <div class="item">
                <label>Địa chỉ</label>
                <input type="text" #address [value]="teacher?.teacher_address" />
            </div>
        </section>
    </div>
</ion-content>