<ion-content>
    <div id="container">
        <section class="info">
            <button class="back" [routerLink]="['/student/dashboard']">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <div class="info-main">
                Thông tin cá nhân
                <div class="upload-avatar">
                    <ion-avatar>
                        <img [src]="avatarUrl" />
                    </ion-avatar>
                    <div class="file" (click)="onClick()">
                        <ion-icon name="camera-reverse-outline"></ion-icon>
                    </div>
                    <input id="input-file" #inputfile type="file" accept="image/*" (change)="selectFile($event)">
                </div>
            </div>
            <button
                class="save"
                [disabled]="!isEnableUpdate"
                (click)="onUpdateProfile(address.value, phone.value, email.value, birthday)">
                <ion-icon [name]="isEnableUpdate ? 'save-outline' : 'save'"></ion-icon>
            </button>
        </section>

        <section class="main">
            <div class="item">
                <label>Mã sinh viên</label>
                <input type="text" disabled [placeholder]="student?.student_id" />
            </div>
            <div class="item">
                <label>Họ tên</label>
                <input type="text" disabled [placeholder]="student?.student_name" />
            </div>
            

            <div class="item">
                <label>Giới tính</label>
                <ion-select value="male" interface="action-sheet" [(ngModel)]="gender">
                    <ion-select-option value="male">Nam</ion-select-option>
                    <ion-select-option value="female">Nữ</ion-select-option>
                </ion-select>
            </div>

            <div class="item">
                <label>Ngày sinh</label>
                <ion-datetime
                    slot="start"
                    #birthday
                    display-format="DD/MM/YYYY"
                    [value]="student?.student_birthday | date:'YYYY-MM-dd' "
                    [placeholder]="student?.student_birthday | date:'dd/MM/YYYY' ">
                </ion-datetime>
            </div>
            <div class="item">
                <label>Số điện thoại</label>
                <input type="number" #phone [value]="student?.student_numphone" />
            </div>
            <div class="item">
                <label>Email</label>
                <input type="email" #email [value]="student?.student_email" />
            </div>
            <div class="item">
                <label>Địa chỉ</label>
                <input type="text" #address [value]="student?.student_address" />
            </div>
        </section>
    </div>
</ion-content>