<ion-header>
    <ion-toolbar color="appbar">
        <ion-buttons slot="start" (click)="onDismiss()">
            <ion-back-button icon="chevron-back-outline" defaultHref></ion-back-button>
        </ion-buttons>
        <ion-title>Nhập lý do từ chối</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
        <ion-textarea [(ngModel)]="data" placeholder="Nhập lý do từ chối..."></ion-textarea>
    <ion-button
        color="appbar"
        expand="block"
        (click)="onDenine()">
        Từ chối
    </ion-button>
</ion-content>
