<ion-header>
     <ion-toolbar color="appbar">
          <ion-buttons slot="start" (click)="onGoBack()">
               <ion-back-button defaultHref></ion-back-button>
          </ion-buttons>
          <ion-title class="ion-text-start">
               Chi tiết buổi học
          </ion-title>
     </ion-toolbar>
     <div class="filter">
          <ion-item>
               <ion-input type="text" placeholder="Tìm kiếm..."></ion-input>
               <ion-select value="all" interface="action-sheet" (ionChange)="onFilter($event)">
                    <ion-select-option
                         *ngFor="let option of options"
                         [value]="option.value">
                         {{ option.text }}
                    </ion-select-option>
               </ion-select>
          </ion-item>
     </div>
</ion-header>

<ion-content>
     <ion-refresher
          slot="fixed"
          pullFactor="0.5"
          pullMin="100"
          pullMax="200"
          (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>

     <section class="main">
          <div class="item2" *ngFor="let student of listStudent; index as idx; trackBy: trackByFn">
               <ion-avatar>
                    <img src="assets/images/avatar.jpg" />
               </ion-avatar>
               <div class="info">
                    <div class="name">{{ student?.student_name }}</div>
               </div>
               <div class="delete" *ngIf="isUpdate" (click)="onUpdateStateStudent(student, idx)">
                    <ion-icon color="danger" name="close-circle-outline"></ion-icon>
               </div>
          </div>
          <ion-infinite-scroll (ionInfinite)="loadData($event)">
               <ion-infinite-scroll-content
                 loadingSpinner="dots"
                 loadingText="Đang tải dữ liệu...">
               </ion-infinite-scroll-content>
          </ion-infinite-scroll>
     </section>
</ion-content>
