<ion-header>
    <ion-toolbar color="appbar">
        <ion-buttons slot="start" (click)="onDismiss()">
            <ion-back-button defaultHref></ion-back-button>
        </ion-buttons>
        <ion-title>Cập nhật đơn xin nghỉ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onUpdateTakeLeave(takeReason)">
        <ion-input
            required
            disabled
            type="text"
            [value]="itemTakeLeave?.subject_name">
        </ion-input>

        <ion-datetime 
            displayFormat="DD/MM/YYYY" 
            [min]="currentDate"
            [value]="itemTakeLeave?.take_leave_date"
            (ionChange)="getTakeLeaveDateTime($event)">
        </ion-datetime>

        
        <ion-textarea 
            required  
            type="text"
            #takeReason
            [value]="itemTakeLeave?.leave_reason">
        </ion-textarea>
        
        <ion-button expand="block" color="appbar" type="submit">
            Cập nhật
        </ion-button>
    </form>
</ion-content>