<ion-content [fullscreen]="true">
    <h1>{{ title }}</h1>
  
    <div class="tab-group">
      <div class="tab">
        <input type="checkbox" id="tab-one" checked/>
        <label for="tab-one">
          <div class="number">1</div>
          <span>Ứng dụng UKB Attendance là gì?</span>
        </label>
        <div class="tab-content">
          <p>
            Ứng dụng <strong>{{ appTitle }}</strong> ra đời nhằm mục đích giúp giảng viên điểm danh sinh viên một cách <i>dễ dàng</i>, <i>chính xác, </i>
            <i>nhanh chóng, </i> và <i>hiệu quả cao!</i> Ứng dụng {{ appTitle }} sử dụng công nghệ <i>GPS (Global Positioning System - Hệ thống định vị toàn cầu)</i>
            nên việc điểm danh sẽ tốt hơn so với việc điểm danh theo kiểu truyền thống của trường Đại Học.
          </p>
        </div>
      </div>
  
      <div class="tab">
        <input type="checkbox" id="tab-two" />
        <label for="tab-two">
          <div class="number">2</div>
          <span>Điểm danh GPS là gì?</span>
        </label>
        <div class="tab-content">
          <p>
            Ứng dụng UKB Attendance sử dụng công nghệ GPS, ứng dụng sẽ lấy tọa độ vị trí (vĩ độ & kinh độ), bán kính của giảng viên,
            sinh viên rồi tính toán xem sinh viên hiện tại có nằm trong bán kính mà giảng viên đưa ra trước đó hay không.
            ({{appTitle}} là an toàn, không theo dõi người sử dụng.)
          </p>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </ion-content>