<ion-content>
  <div id="container">
    <header>
      <div class="header">
        <ion-avatar>
          <img
            [src]="avatarUrl" />
        </ion-avatar>
        <div class="info">
          <div class="name">
            <span>Giảng viên: </span>
            {{ teacher?.teacher_name }}
          </div>
          <div class="academic">
            <span>Khoa: </span>
            CNTT
          </div>
        </div>
        <div class="menu">
          <ion-icon name="ellipsis-vertical-outline" (click)="openMenu()"></ion-icon>
        </div>
      </div>
      <div class="control-panel">Bảng điều khiển</div>
    </header>

    <section class="main">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <div class="wrap-click" (click)="openTurnOnAttendance()">
              <ion-thumbnail>
                <img src="assets/images/turn-on-attendance.png" />
              </ion-thumbnail>
              <div class="feature-name">điểm danh GPS</div>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="wrap-click" (click)="onGotoHandMadeAT()">
              <ion-thumbnail>
                <img src="assets/images/attendance.png" />
              </ion-thumbnail>
              <div class="feature-name">điểm danh thủ công</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <div class="wrap-click" (click)="onGoToListStudentInRoom()">
              <ion-thumbnail>
                <img src="assets/images/list-student.png" />
              </ion-thumbnail>
              <div class="feature-name">chi tiết buổi học</div>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="wrap-click" [routerLink]="['/teacher/statistical']">
              <ion-thumbnail>
                <img src="assets/images/statistical.png" />
              </ion-thumbnail>
              <div class="feature-name">thống kê</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <div class="wrap-click" (click)="goToGeneratorQR()">
              <ion-thumbnail>
                <ion-icon style="width: 46px; height: 46px;" name="qr-code-outline"></ion-icon>
              </ion-thumbnail>
              <div class="feature-name">mã QR</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>
</ion-content>