<ion-content [fullscreen]="true">
  <div id="container">
    <header>
      <ion-avatar>
        <img
          src="assets/images/avatar.jpg" />
      </ion-avatar>
      <div class="info">
        <div class="teacher-name">
          Giảng viên: <span>{{ teacher?.teacher_name   }}</span>
        </div>
        <div class="faculty-name">Khoa: CNTT</div>
      </div>
      <div class="profile" (click)="openMenu()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
    </header>


    <div class="dashboard-name">Bảng điều khiển</div>

    <div class="main-dashboard">
      <div class="feture" (click)="openTurnOnAttendance()">
        <ion-thumbnail>
          <img src="assets/images/turn-on-attendance.png" />
        </ion-thumbnail>
        <div class="feture-name">điểm danh GPS</div>
      </div>

      <div class="feture" (click)="onGotoHandMadeAT()">
        <ion-thumbnail>
          <img src="assets/images/attendance.png" />
        </ion-thumbnail>
        <div class="feture-name">điểm danh thủ công</div>
      </div>

      <div class="feture" (click)="onGoToListStudentInRoom()">
        <ion-thumbnail>
          <img src="assets/images/list-student.png" />
        </ion-thumbnail>
        <div class="feture-name">chi tiết buổi học</div>
      </div>

      <div class="feture" [routerLink]="['/teacher/statistical']">
        <ion-thumbnail>
          <img src="assets/images/statistical.png" />
        </ion-thumbnail>
        <div class="feture-name">thống kê</div>
      </div>

      <div class="feture" (click)="goToGeneratorQR()">
        <ion-icon style="width: 46px; height: 46px;" name="qr-code-outline"></ion-icon>
        <div class="feture-name">lấy mã QR</div>
      </div>

    </div>

  </div>
</ion-content>